<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ProClinic-医院管理系统Bootstrap4前端框架</title>
	<!-- Fav  Icon Link -->
	<link rel="shortcut icon" type="image/png" href="../static/images/fav.png">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/../static/css/bootstrap.min.css">
	<!-- themify icons CSS -->
	<link rel="stylesheet" href="/../static/css/themify-icons.css">
	<!-- Main CSS -->
	<link rel="stylesheet" href="/../static/css/styles.css">
	<link rel="stylesheet" href="/../static/css/green.css" id="style_theme">
	<link rel="stylesheet" href="/../static/css/responsive.css">

	<script src="/../static/js/modernizr.min.js"></script>
</head>

<body class="auth-bg">
	<!-- Pre Loader -->
	<div class="loading">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!--/Pre Loader -->
	<!-- Color Changer -->
	<div class="theme-settings" id="switcher">
		<span class="theme-click">
			<span class="ti-settings"></span>
		</span>
		<span class="theme-color theme-default theme-active" data-color="green"></span>
		<span class="theme-color theme-blue" data-color="blue"></span>
		<span class="theme-color theme-red" data-color="red"></span>
		<span class="theme-color theme-violet" data-color="violet"></span>
		<span class="theme-color theme-yellow" data-color="yellow"></span>
	</div>
	<!-- /Color Changer -->
	<div class="wrapper">
		<!-- Page Content  -->
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 auth-box">
						<div class="lochana-box-shadow">
							<h3 class="widget-title">登录</h3>
							<form class="widget-form" action="{% url 'president:login' %}" method="POST">
                                {% csrf_token %}
								<!-- form-group -->
								<div class="form-group row">
									<div class="col-sm-12">
										<input name="username" placeholder="用户名" class="form-control" required="" data-validation="length alphanumeric" data-validation-length="3-12"
										 data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)" data-validation-has-keyup-event="true">
									</div>
								</div>
								<!-- /.form-group -->
								<!-- form-group -->
								<div class="form-group row">
									<div class="col-sm-12">
										<input type="password" placeholder="密码" name="password" class="form-control" data-validation="strength" data-validation-strength="2"
										 data-validation-has-keyup-event="true">
									</div>
								</div>
								<!-- /.form-group -->
								<!-- Check Box -->		

								<!-- /Check Box -->	
								<!-- Login Button -->			
								<div class="button-btn-block">
									<input type="submit" class="btn btn-primary btn-lg btn-block" value="登录"></input>
								</div>
								<!-- /Login Button -->	
								<!-- Links -->	

								<!-- /Links -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Content  -->
	</div>
	<!-- Jquery Library-->
	<script src="/../static/js/jquery-3.2.1.min.js"></script>
	<!-- Popper Library-->
	<script src="/../static/js/popper.min.js"></script>
	<!-- Bootstrap Library-->
	<script src="/../static/js/bootstrap.min.js"></script>
	<!-- Custom Script-->
	<script src="/../static/js/custom.js"></script>
</body>

</html>